apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "common.names.fullname" . }}
  labels: {{ include "common.labels.standard" . | nindent 4 }}
data:
  SETUP__LOGLVL: {{ .Values.config.setup.loglvl | quote }}
  SETUP__CODECOV_URL: {{ .Values.config.setup.codecovUrl | default (include "codecov.config.url" .) | quote }}
  SETUP__CODECOV_API_URL: {{ .Values.config.setup.codecovApiUrl | default (include "codecov.config.apiUrl" .) | quote }}
  SETUP__TIMESERIES__ENABLED: {{ .Values.config.setup.timeseries.enabled | quote }}
  SITE__COMMENT__LAYOUT: {{ .Values.config.site.comment.layout | quote }}
